.git
.github
vendor
node_modules
.env
.env.local
.env.production
.env.staging
.env.development
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/storage
docker-compose.yml
Dockerfile
Makefile
README.md
.cursor
.ai
.claude
.codex
.mcp.json
phpstan.neon
phpunit.xml
pint.json
